{% load i18n %}{% comment %}Sign in through the organisation's directory (Entra ID / AD FS).{% endcomment %}
<a class="btn {% if primary %}primary{% endif %} login-directory" href="{% url 'oidc_authentication_init' %}">
  {% if oidc_is_entra %}
    <svg class="login-directory-icon" viewBox="0 0 23 23" aria-hidden="true"><path fill="#f25022" d="M1 1h10v10H1z"/><path fill="#7fba00" d="M12 1h10v10H12z"/><path fill="#00a4ef" d="M1 12h10v10H1z"/><path fill="#ffb900" d="M12 12h10v10H12z"/></svg>
    {% translate 'Prisijungti su Microsoft' %}
  {% else %}
    {% translate 'Prisijungti su organizacijos paskyra' %}
  {% endif %}
</a>
